# SERVER-SIDE, NON-SECRET
FIXFIRST_RUNTIME=
NEXT_TELEMETRY_DISABLED=

# ANALYTICS, SERVER-SIDE CONFIGURATION
POSTHOG_PROJECT_TOKEN=
POSTHOG_HOST=

# SECRET
# FixFirst does not currently require secret environment variables.
